.App {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  height: 500px;
}

.trafficTop {
  position: absolute;
  top: 0;
  background-color: black;
  width: 30px;
  height: 100px;
  margin-top: 190px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.trafficBody {
  bottom: 0;
  position: absolute;
  background-color: black;
  width: 90px;
  height: 210px;
  border-radius: 10px;
  justify-content: center;
  display: flex;
}

.redLight {
  border-radius: 50%;
  background-color: red;
  width: 60px;
  height: 60px;
  margin-top: 10px;
  position: absolute;
  cursor: pointer;
}

.yellowLight {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: yellow;
  position: absolute;
  margin-top: 75px;
  cursor: pointer;
}

.greenLight {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  margin-top: 140px;
  cursor: pointer;
}

.selectedRed {
  box-shadow: #ee6666 0px 0px 50px 20px;
}

.selectedYellow {
  box-shadow: #eee066 0px 0px 50px 20px;
}

.selectedGreen {
  box-shadow: #8fee66 0px 0px 50px 10px;
}
